<footer>
    By <a href="https://robballou.com" rel="me">Rob Ballou</a>
    | Copyright &copy; <%- year %>
    <% if (link) { %>
        | Source: <a href="<%- link %>"><%- link %></a>
    <% } %>
</footer>
